[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# anyio = "*"
argon2-cffi = "*"
async-generator = "*"
attrs = "*"
babel = "*"
backcall = "*"
bleach = "*"
bokeh = "*"
brotlipy = "*"
chart-studio = "*"
cryptography = "*"
geopandas = "*"
networkx = "*"
numpy = "*"
packaging = "*"
pandas = "*"
plotly = "*"
plotly-geo = "*"
plotly-express = "*"
pyproj = "*"
pyshp = "*"
python-dateutil = "*"
scipy = "*"
shapely = "*"
wordcloud = "*"

[dev-packages]
notebook = "*"

[requires]
python_version = "3.10"
